<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
		<div class="topnav" id="myTopnav">
			<a href="/admin" class="active">Trang chủ</a>
			<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Đăng xuất</a>
		</div>


		<script>
			function myFunction() {
				var x = document.getElementById("myTopnav");
				if (x.className === "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>
</body>
</html>